body {
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: rgb(14, 166, 145);
    padding: 20px 0;
}


.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
text-transform: uppercase;
color: #000000;
font-weight: bold;
font-size: 22px;
text-decoration: none;
}

nav a:hover {
	color: #055c05;
	text-decoration: underline;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
	font-weight: bold;
    clear: left;
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.534);
}

.titulo-principal:first-letter{
	font-weight: bold;
	font-size: 1.3em;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.noticia {
    width: 130px;
    float: left;
    margin: 0 20px 20px 0;
}

.app {
    padding: 3em 0;
    background: #026824;
}

#botao{ text-align: center }
.app-botao {
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    background-color: #1ab75f;
    font-size: 18px;
    transition: 1s all;
    cursor: pointer;  
}

.app-botao:hover{
    background: rgb(14, 166, 145);
    transform: rotate(1deg) scale(1.3) ;
}

.app p {
    padding: 0 0 2em;
    text-align: center;
}

.intro {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #026824);


}


.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
	.caixa, .principal, .app-botao, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

}
footer{
    text-align: center;
    background-color: rgb(14, 166, 145);
    padding: 40px 0;
}

.copyright{
    color: black;
    font-size: 13px;
    margin: 20px 0 0;

}

/* contato */


form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.imput-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}


.enviar{
    width: 40%;
    padding: 15px 0;
    background: #1ab75f;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: rgb(14, 166, 145);
    transform: rotate(1deg) scale(1.3) ;
}

table{
    margin: 20px 0 40px;
    background-color: #bbbbbb;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;

}

th, td{
    border: 1px solid #000000;
    padding: 8px 15px ;
}
